@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:200");
@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700");
/* line 1, ../sass/_base.scss */
body {
  background: #232626;
}

/* line 5, ../sass/_base.scss */
#page {
  min-height: 82vh;
}

/* line 10, ../sass/_base.scss */
.main-header {
  background: #2f3333;
  padding: 20px 0;
  box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.1);
  /* z-index: 10; */
  position: relative;
}

/* Helpers */
/* line 3, ../sass/_helpers.scss */
.hidden {
  display: none;
}

/* line 7, ../sass/_helpers.scss */
.bold {
  font-weight: bold;
}

/* line 11, ../sass/_helpers.scss */
.italic {
  font-style: italic;
}

/* line 14, ../sass/_helpers.scss */
.right {
  float: right;
}

/* line 18, ../sass/_helpers.scss */
.left {
  float: left;
}

/* line 22, ../sass/_helpers.scss */
.black {
  color: #3d454b;
}

/* line 25, ../sass/_helpers.scss */
.gray {
  background: gray !important;
}

/* line 29, ../sass/_helpers.scss */
.margins-10 {
  margin: 10px;
}

/* line 33, ../sass/_helpers.scss */
.margins-20 {
  margin: 20px;
}

/* line 37, ../sass/_helpers.scss */
.margins-side-20 {
  margin: 0 20px;
}

/* line 41, ../sass/_helpers.scss */
.padding-10 {
  padding: 10px;
}

/* line 45, ../sass/_helpers.scss */
.padding-20 {
  padding: 20px;
}

/* line 49, ../sass/_helpers.scss */
.grey {
  color: #bbbbbb;
}

/* line 53, ../sass/_helpers.scss */
.center-vertically {
  position: absolute;
  left: 50%;
  top: 50%;
  /*
  *  Where the magic happens
  *  Centering method from CSS Tricks
  *  http://css-tricks.com/centering-percentage-widthheight-elements/
  */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* line 70, ../sass/_helpers.scss */
.thin {
  font-weight: 100;
}

/* line 2, ../sass/_elements.scss */
* {
  color: #a2a8ab;
  font-family: 'Lato';
}

/* line 7, ../sass/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  color: #a2a8ab;
  font-family: 'Lato';
  font-weight: 200;
}

/* line 14, ../sass/_elements.scss */
h1 {
  font-size: 36px;
  margin-bottom: 0;
}

/* line 20, ../sass/_elements.scss */
h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 26, ../sass/_elements.scss */
h3 {
  font-size: 26px;
  margin: 10px 0 2px 0;
}

/* line 31, ../sass/_elements.scss */
h4 {
  font-size: 21px;
  margin-top: 10px;
  /* color: black; */
  font-weight: bold;
  margin-bottom: 0;
}

/* line 40, ../sass/_elements.scss */
a {
  color: #a2a8ab;
}

/* line 44, ../sass/_elements.scss */
.row {
  max-width: 55em;
}

/* line 49, ../sass/_elements.scss */
input {
  background: #1a1c1c !important;
  border: none !important;
  padding: 10px 20px;
  font-size: 18px !important;
  color: #a2a8ab !important;
}

/* line 59, ../sass/_elements.scss */
input[type="button"],
input[type="submit"] {
  background: #2f3333 !important;
}

/* line 65, ../sass/_elements.scss */
textarea,
textarea:active,
textarea:focus {
  background: #1a1c1c;
  border: none;
  height: 120px;
  color: #a2a8ab;
  padding: 10px;
  font-size: 18px;
}

/* line 76, ../sass/_elements.scss */
.button {
  background: #2f3333;
}

/* line 81, ../sass/_elements.scss */
.button:hover, .button:focus {
  background: #2f3333;
}

/* line 85, ../sass/_elements.scss */
hr {
  border: solid #1a1c1c;
  border-width: 1px 0 0;
  margin-top: 0;
  margin-bottom: 4px;
}

/* Callout */
/* line 97, ../sass/_elements.scss */
.callout {
  background: #1d1f1f;
  border: none;
  padding: 40px;
}

/* Logo */
/* line 5, ../sass/_header.scss */
.logo {
  font-family: "Titillium Web";
  color: #3d454b;
  font-size: 36px;
}

/* line 11, ../sass/_header.scss */
.logo img {
  width: 50px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
}

/* line 18, ../sass/_header.scss */
.logo:hover,
.logo:focus,
.logo:visited {
  color: #a2a8ab;
}

/* Main menu */
/* line 25, ../sass/_header.scss */
#mainMenu {
  margin-top: 16px;
  text-transform: uppercase;
  float: right;
  font-size: 18px;
}

/* line 34, ../sass/_header.scss */
#mainMenu ul {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 10px;
}

/* Subnav */
/* line 43, ../sass/_header.scss */
.subnav {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.02);
}

/* line 48, ../sass/_header.scss */
.subnav a, .subnav span {
  color: #3d454b;
  margin-bottom: -1px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}

/* line 59, ../sass/_header.scss */
.subnav .active {
  color: #bbbbbb;
  /* font-weight: bold; */
  background: #151515;
  background: #2f3333;
  padding: 10px;
  margin: -10px;
}

/* line 68, ../sass/_header.scss */
.has-dropdown > a:after {
  border-top-style: none;
}

/* line 72, ../sass/_header.scss */
.categories-dropdown-button,
.categories-dropdown-button:hover,
.categories-dropdown-button:active,
.categories-dropdown-button:focus {
  width: 200px;
  margin: -10px;
  color: #a2a8ab;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}

/* line 86, ../sass/_header.scss */
.dropdown-pane ul {
  list-style: none;
}

/* line 90, ../sass/_header.scss */
.dropdown-pane a {
  color: #a2a8ab;
  text-transform: none;
}

/* line 1, ../sass/_subheader.scss */
.subheader {
  padding: 20px;
  background: url(/media/backgrounds/bg.jpg);
  background-position-y: -320px;
  margin: 0;
}

/* line 10, ../sass/_subheader.scss */
.user-info {
  float: left;
}
/* line 13, ../sass/_subheader.scss */
.user-info .avatar {
  float: left;
  width: 70px;
  border-radius: 4px;
  margin: 10px;
}
/* line 20, ../sass/_subheader.scss */
.user-info .username {
  font-weight: bold;
  color: white;
  margin: 2px 0 0 0px;
  text-shadow: 1px 1px 2px black;
}
/* line 27, ../sass/_subheader.scss */
.user-info .stats {
  float: left;
  color: #d8dadb;
}
/* line 32, ../sass/_subheader.scss */
.user-info i {
  margin: 0 4px;
  color: #d8dadb;
}

/* line 39, ../sass/_subheader.scss */
.subheader .buttons {
  margin-top: 20px;
  float: right;
}

/* line 43, ../sass/_subheader.scss */
.subheader .buttons .button {
  padding: 20px;
}

/* line 3, ../sass/_browse.scss */
#browse-template article {
  position: relative;
  width: calc(20% - 2px);
  margin: 1px;
  width: 20%;
  margin: 0;
  float: left;
}
/* line 12, ../sass/_browse.scss */
#browse-template .dark-overlay {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

/* line 1, ../sass/_post.scss */
.post-footer {
  /* .username { */
  /* 	margin:10px; */
  /* 	padding: 8px 2px 13px 8px; */
  /* 	background: #2f3333; */
  /* 	margin-right: 3px; */
  /* 	color: #fff; */
  /* } */
}
/* line 2, ../sass/_post.scss */
.post-footer .stats {
  float: left;
  margin: 7px;
}
/* line 7, ../sass/_post.scss */
.post-footer .stats span {
  margin-right: 8px;
}
/* line 11, ../sass/_post.scss */
.post-footer .fi-arrow-up {
  transform: scale(1.8, 1);
}
/* line 22, ../sass/_post.scss */
.post-footer .button {
  margin: 0;
  font-size: 14px;
}
/* line 26, ../sass/_post.scss */
.post-footer .button i {
  margin-right: 8px;
}
/* line 31, ../sass/_post.scss */
.post-footer .upvoted, .post-footer .upvoted i {
  color: #13aff0;
}
/* line 34, ../sass/_post.scss */
.post-footer .avatar {
  width: 30px;
  margin: -10px -10px -10px 10px;
  border-radius: 2px;
}

/* line 1, ../sass/_edit.scss */
#id_image {
  position: absolute;
  z-index: -10;
}

/* line 6, ../sass/_edit.scss */
#upload {
  border-radius: 0;
  padding: 16px 18px;
  width: 133px;
  height: 47px;
}

/* line 13, ../sass/_edit.scss */
::-webkit-input-placeholder {
  color: rgba(162, 168, 171, 0.4);
}

/* line 18, ../sass/_edit.scss */
#image-filechoice-container {
  position: relative;
}

/* line 22, ../sass/_edit.scss */
#image-filechoice-container #id_image {
  width: 100%;
}

/* line 27, ../sass/_edit.scss */
#edit-template textarea {
  height: 120px;
}

/* Footer */
/* line 3, ../sass/_footer.scss */
footer {
  height: 40px;
}

/* line 7, ../sass/_footer.scss */
footer, footer li, footer p {
  background-color: #333a42;
  color: #babfc2;
}

/* line 12, ../sass/_footer.scss */
footer a {
  color: #babfc2;
}

/* line 16, ../sass/_footer.scss */
footer h4 {
  color: #babfc2;
  text-transform: uppercase;
  font-size: medium;
  font-weight: normal;
}

/* line 24, ../sass/_footer.scss */
footer {
  background: #171a1a;
  z-index: 1;
}

/* line 31, ../sass/main.scss */
.page {
  min-height: 82vh;
}
