{% extends "base.html" %}


{% block content %}
{# {% include "series/dv-subheader.html" %} #}
<style>
h1 {
    color: #f6653c;
    font-size: 40px;
    font-family: "Lato";
}

.main-header {
background: #141414;
}
.basePage {
background:#111111;
}

p {
    color: #909090;
}

.video-js {
    position: relative !important;
    width: 100% !important;
height: 250px !important;
}

</style>

<div class="basePage">
<div class="row page">
  <div class="large-12 small-12 columns">
    <article>
      <img src="/static/img/wave.png" style="float:left;
					     width: 40%;
					     margin-top: -10px;"/>
      <div class="clearfix">      
      <div style="float:right;    width: 55%;"> 
	<h1 style="margin-top: 110px;">Lumen Rig v0.5</h1>
	<p>This is a simple universal rig created for learning the foundations of 3D animation in SideFX Houdini.</p>

	<!-- 
	<input placeholder="Enter email" style="width:100%;
						text-align:center;"></input>
	-->
	<a href="/media/files/lumen_rig.otl"class="button" style="width:100%;
								  background: #f6653c;">
	  Download</a>
      </div>
    </article>

    <article style="margin-top:-50px;">
      <img src="/media/images/mike.png" style="float:right;
					     width: 45%;
					     margin-top: -20px;"/>
      <div style="float:left;    width: 55%;"> 
	<h1 style="margin-top: 30px;">Mike Rig</h1>
	<p>This is a very simple rig created for learning the basics of animation.</p>

	<!-- 
	<input placeholder="Enter email" style="width:100%;
						text-align:center;"></input>
	-->
	<a href="/media/files/mike_rig.otl"class="button" style="width:100%;
								  background: #f6653c;">
	  Download</a>
      </div>
    </article>
    
  </div>
</div>
 
<style>

  article a {
  color: #13aff0;
  }  
.tabs-title {
width: 33.3333%;
text-align:center;
}  

p,article a, article ul li {
font-size: 22px;
margin-bottom: 20px;
font-family: 'Open Sans';
font-size: 20px;
}
</style>
{% endblock content %}
