{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block content %}


<div class="forum-header" style="margin-bottom:0;">
  <h1>Digital Verse Blog</h1>
  <!-- <p>Computer Graphics and Animation</p> -->

  {% if user.is_authenticated and user.is_staff %}
  <a class="small button orange" href="/post/add">New Post</a>
  {% else %}
  <br/>
  {% endif %}  
</div>

<div class="thread-page">
<div class="row">
<div class="large-12 small-12 columns">

<!-- Articles -->
{% for post in posts %}
    <article>
      <a href="{{post.get_absolute_url}}">
	<h2>{{post.title}}</h2>
      </a>
      <hr/>
      <!-- Body -->
      <div class="post-body">
	{{post.body | markdownify | safe }}
      </div>
      <br/>
    </article>
{% endfor %}    

<!-- Pagination -->
{# {% include "elements/pagination.html" %} #}

</div> <!-- End .columns -->
</div> <!-- End .row -->

</div> <!-- End forum-page -->


{% endblock content %}
