{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="forum-page">

<div class="forum-header">
  <h1>Digital Verse Forum</h1>
  <!-- <p>Discussion about Computer Graphics and Animation</p> -->
  {% if user.is_authenticated %}  
  <a class="small button orange" href="/post/add">New Post</a>
  {% else %}
  <a class="small button orange"  data-open="login-popup">New Post</a>  
  {% endif %}  
</div>


<div class="row">
<div class="large-12 small-12 columns">

<!-- Forum Navigation -->
<div class="forum-nav">
  <a class="small button">
    Category: All
  </a>

  <a class="small button">
    Hot
  </a>

  <i class="fi-magnifying-glass right"></i>
  <input class="right" type="text">
</div>

<!-- Articles -->
{% for post in posts %}
    <article>
      <a href="{{post.get_absolute_url}}">
	<h2>
	    {{post.title}}
	</h2>
      </a>
      <div class="stats">
    	<span>
	  <i class="fi-arrow-up arrow"></i>
	  {{post.score}}
	</span>
	<span>
	  <i class="fi-comment"></i>
	  {{post.comments.count}}
	</span>
	<span>
	  <i class="fi-eye"></i>
	  {{post.views}}
	</span>
	<!-- 
	<span>
	  <i class="fi-clock"></i>
	  1h 53m ago
	</span>
	-->
	<!-- 
	<span>
	  [Blogs]
	</span>
	 -->
	<!-- &nbsp; -->
	<span>
	  by
	  <a class="bold orange" href="/profile/{{post.author.username}}">{{post.author.username}}</a>
	</span>
      </div>
    </article>
{% endfor %}    

<!-- Pagination -->
{# {% include "elements/pagination.html" %} #}

</div> <!-- End .columns -->
</div> <!-- End .row -->

</div> <!-- End forum-page -->


{% endblock content %}
