{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
{# {% include "elements/featured.html" %} #}
{% include "elements/subnav.html" %}


<div id="browse-template" class="page">
  
{% for post in object_list %}
{% if post.published  %}
  <a href="{{post.get_absolute_url}}">  
    <article>
      {% thumbnail post.thumbnail "320x180" crop="center" as im %}
      <div style="position:relative;">
          <img src="{{im.url}}" />
	  <div class="dark-overlay">
	<div class="video-stats">
	  <i class="fi-eye">316</i>
	  <i class="fi-arrow-up">15</i>
	  <i class="fi-comment">8</i>
	  <i class="fi-clock">09:49</i>
	</div>		
	  </div>
      </div>
      {% endthumbnail %}


      <div class="card-description">
	<b style="float:left; font-size:18px;color:white;width:100%;">{{post.title}} </b><br/>
	<!-- <p>[description]</p> -->
	<!-- <p style="margin-bottom: -10px;"> -->
	<!-- by <a style="color:#0b7cac;">Ray Alez</a> -->
	<!-- in <a style="color:#0b7cac;">Orange Mind</a> series -->
	<!-- </p> -->
	<!-- <a class="small button" href="/user/rayalez">rayalez</a> -->

      {% if user == post.author or user.is_staff  %}
      <!-- <a class="edit-post margins-0" href="/post/{{post.slug}}/edit"> -->
      <!-- 	<i class="fa fa-pencil"></i></a> -->
      {% endif %}
      </div>



	<div class="hubs">
	<span class="callout small">Tutorials</span>
	<span class="callout small">Vlog</span>
	<span class="callout small">Art</span>
	<a class="small button series right"
	   href="/series/orange-mind"
	   style="margin-bottom:0;    margin-top: -5px;"
	   ><i class="fi-thumbnails"></i> Orange Mind</a>
	</div>
	<!-- 40 minutes ago. -->

    </article>
  </a>
{% endif %}
{% endfor %}
</div>
{% include "posts/pagination.html" %}

{% include "elements/subscribe-popup.html" %}  

<style>
  .row {
  max-width: 95%!important;
  }
</style>

{% endblock content %}
