{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block content %}

<div class="thread-page">


<div class="row">
  <div class="large-12 small-12 columns">
    <article>

      <!-- Edit -->
      {% if user == post.author or user.is_staff %}
      <a class="edit-post" href="{{post.get_absolute_url}}/edit">
	<i class="fa fa-pencil"></i>
      </a>
      {% endif %}

      <!-- Title -->
      <h1>{{post.title}}</h1>
      <hr/>

      <!-- Body -->
      <div class="post-body">
	{{post.body | markdownify | safe }}
      </div>


      <div class="post-footer">
	<div class="stats">
    	  <span>
	    <i class="fi-arrow-up arrow"></i>
	    {{post.score}}
	  </span>
	  <span>
	    <i class="fi-comment"></i>
	    0 {{post.comments.count}}
	  </span>
	  <span>
	    <i class="fi-eye"></i>
	    {{post.views}}
	  </span>
	  <!-- 
	  <span>
	    <i class="fi-clock"></i>
	    1h 53m ago
	  </span>
	  -->
	</div>

	<div class="buttons">
	  <a class="small button">
	    rayalez
	  </a>
	  <a class="small button">
	    <i class="fi-arrow-up"></i>Upvote
	  </a>
	</div>
	<div class="clearfix"></div>
	  
      </div> <!-- End post footer -->
    </article>

    <!-- Comments -->
    <div class="comments hidden">
      <textarea placeholder="Write reply..."></textarea>
      <a class="button right">
	Submit Reply
      </a>
      <div class="clearfix"></div>    

      <article class="comment">
	<p>
	  Hey, great post! This is my cool reply!
	</p>
	<div class="comment-footer">
	  alexanderwales
	  12
	  <i class="fi-arrow-up arrow"></i>
	</div>
	<div class="clearfix"></div>    
      </article>
    </div> <!-- End .comments -->

  </div> <!-- End 12-columns -->
</div> <!-- End row -->


</div> <!-- End forum-page -->


<script>
  $('textarea').each(function () {
  this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
}).on('input', function () {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
  });
</script>

<script>
// $(document).ready(function(){

// function convertVideo(html) {
//     var pattern = /(?:http?s?:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=)?(.+)/g;

//     if(pattern.test(html)){
//         var replacement = '<iframe width="420" height="345" src="http://www.youtube.com/embed/$1" frameborder="0" allowfullscreen></iframe>';
//         var html = html.replace(pattern, replacement);
//     }
//     return html;
// }

// $('.post-body').html(function(html) {
//     return convertVideo($('.post-body').html());    
// });
})

</script>  
{% endblock content %}
