{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}

{% block content %}

<div class="thread-page">


<div class="row">
  <div class="large-12 small-12 columns">
    <article>

      <!-- Edit -->
      {% if user == post.author or user.is_staff %}
      <a class="edit-post" href="{{post.get_absolute_url}}/edit">
	<i class="fa fa-pencil"></i>
      </a>
      {% endif %}

      <!-- Title -->
      <h1>{{post.title}}</h1>
      <hr/>

      <!-- Body -->
      <div class="post-body">
	{{post.body | markdownify | safe }}
      </div>


      <br/>
      <div class="post-footer hidden">
	<div class="stats">
    	  <span>
	    <i class="fi-arrow-up arrow"></i>
	    {{post.score}}
	  </span>
	  <span>
	    <i class="fi-comment"></i>
	    0 {{post.comments.count}}
	  </span>
	  <span>
	    <i class="fi-eye"></i>
	    {{post.views}}
	  </span>
	  <!-- 
	  <span>
	    <i class="fi-clock"></i>
	    1h 53m ago
	  </span>
	  -->
	</div>

	<div class="buttons">
	  <a class="small button">
	    rayalez
	  </a>
	  <a class="small button">
	    <i class="fi-arrow-up"></i>Upvote
	  </a>
	</div>
	<div class="clearfix"></div>
	  
      </div> <!-- End post footer -->
    </article>

    <!-- Comments -->
    {% include "comments/post-comments.html" %}

  </div> <!-- End 12-columns -->
</div> <!-- End row -->


</div> <!-- End forum-page -->


<script>
  $('textarea').each(function () {
  this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
}).on('input', function () {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
  });
</script>


{% endblock content %}
