
<div id="featured">
  <a href="/?hub=animation">
    <div class="card">
      <div class="image">
	<img src="/media/featured/animation2.png"/>
      </div>
      <div class="description">
	<h1>3D Animation Tutorials</h1>
      </div>
    </div>
  </a>

  <a href="/?hub=houdini">
    <div class="card">
      <div class="image">
	<img src="/media/featured/gears.jpg"/>
      </div>
      <div class="description">
	<h1>SideFX Houdini Tutorials</h1>
      </div>
    </div>
  </a>

  <a href="/lumen/">
    <div class="card">
      <div class="image">
	<img src="/media/featured/lumen-rig.png"/>
      </div>
      <div class="description">
	<h1>Lumen Animation Rig</h1>
      </div>
    </div>
  </a>
  <div class="clearfix"></div>	
</div>

