<style>
#featured .card {
    /* margin: 10px; */
* width: calc(33.3333% - 20px); */
}
</style>
<div id="featured">
<div class="featured-cards row">
  <!-- Animation -->
  <a href="/?hub=animation">
  <!-- <a href="/post/animation-exercises">     -->
    <div class="card">
      <div class="image">
	<img src="/media/featured/animation_487x274.png"/>
      </div>
      <div class="description">
	<h1>3D Animation Tutorials</h1>
	<!-- <h1>List of Animation Exercises</h1> -->
      </div>
    </div>
  </a>

  <!-- Houdini -->
  <a href="/videos/?hub=houdini"> <!--  -->
    <div class="card">
      <div class="image">
	<img src="/media/featured/gears.jpg"/>
      </div>
      <div class="description">
	<h1>SideFX Houdini Tutorials</h1>
      </div>
    </div>
  </a>

  <!-- Rigs -->
  <a href="/rigs/">
    <div class="card">
      <div class="image">
	<img src="/media/featured/lumen-rig_487x274.png"/>
      </div>
      <div class="description">
	<h1>Houdini Animation Rigs</h1>
      </div>
    </div>
  </a>
  <div class="clearfix"></div>	
</div>
</div>
