
<div class="sidebar">
      <!-- Logo -->
      <a href="http://lumiverse.io" class="logo">
	lumi<span class="bold">verse</span>
	<!-- <span class="beta">[beta]</span> -->
      </a>
      <br/>      <br/>
    <!-- Main Menu -->
      <div id="sidebarMenu">

	rayalez


	<br/>
	<ul>
	  <li><a href="/upload/">
	      <i class="fa fa-home"></i> Profile </a></li>
	  <li><a href="/upload/">
	      <i class="fa fa-upload"></i> Upload </a></li>
	  <li><a href="/upload/">
	      <i class="fa fa-th"></i> Create Series </a></li>
	  <li><a href="/preferences/">
	      <i class="fa fa-cog"></i> Preferences</a></li>
	  <li><a href="/logout/?next={{request.path}}">
	      <i class="fa fa-power-off"></i> Logout</a></li>
	</ul>

	<hr/>

	<h2>lumen</h2>
	<a href="/upload/"> Hot </a>
	<a href="/upload/"> New </a>
	<a href="/upload/"> Top </a>	

	<hr/>

	<ul>
	  <li><b><a href="/upload/"> Videos </a></b></li>	  
	  <li><a href="/upload/"> Series </a></li>
	  <li><a href="/upload/"> My Subscriptions </a></li>
	</ul>

	<hr/>

	<h4>Series</h4>
	<ul>
	  <li><a href="/upload/"> Orange Mind </a></li>	  
	  <li><a href="/upload/"> Singularity </a></li>
	  <li><a href="/upload/"> Digital Mind </a></li>	  

	</ul>

	
	<!-- <h2>Browse</h2> -->
	<!-- <a href="/upload/"> Hot </a> -->
	<!-- <a href="/upload/"> New </a> -->
	<!-- <a href="/upload/"> Top </a>	 -->

	<!-- <hr/> -->

	<!-- <ul> -->
	<!--   <li><b><a href="/upload/"> Videos </a></b></li>	   -->
	<!--   <li><a href="/upload/"> Series </a></li> -->
	<!--   <li><a href="/upload/"> My Subscriptions </a></li> -->
	<!-- </ul> -->

	<!-- <hr/> -->

	<!-- <h4>Categories</h4> -->
	<!-- <ul> -->
	<!--   <li><a href="/upload/"> All </a></li>	   -->
	<!--   <li><a href="/upload/"> Subscribed </a></li> -->
	<!--   <input type="text"/> -->
	<!--       {% for category in categories %} -->
	<!--           {# {% if category.posts.all %} #} -->
	<!--           <li> <a href="{{request.path}}?category={{category.slug}}{% if sorting %}&sorting={{sorting}}{% else %}&sorting=hot{% endif %}"> -->
	<!-- 	  {{category.title}} </a></li> -->
	<!-- 	  {# {% endif %} #} -->
	<!--       {% endfor %} -->

	<!-- </ul> -->
	
	
      </div>
    </div>


</div>
