.post h1 {

}

.post img {
    width: 100%;
}

.post a {
    color:$brightblue;
}
.edit-post{
    float:right;
    font-size:18px;
    margin-top:20px;
}


.video-js {
  width:850px;
  height:477px;
}

.post .nav-buttons {
    .button {
	width: calc(20% - 4px);
    }

    .series {

    }
}

.post-footer {
    .stats {
	float:left;
	margin:7px;
    }

    .stats span {
	margin-right: 8px;
    }

    .category {
	background: #232626;
    }

    .fi-arrow-up {
	transform: scale(1.8,1);
    }
    /* .username { */
    /* 	margin:10px; */
    /* 	padding: 8px 2px 13px 8px; */
    /* 	background: #2f3333; */
    /* 	margin-right: 3px; */
    /* 	color: #fff; */
    /* } */

    .button {
	margin: 0;
	font-size:14px;
	height: 39px;	

	i {
	    margin-right: 8px;
	}
    }

    .upvoted, .upvoted i {
	color: $brightblue
    }
    .avatar {
	width:30px;
	margin: -10px -10px -10px 10px;
	border-radius:2px;
    }

    .rss-icon {
	font-size: 35px;
	padding: 1px 0px 2px 8px!important;	
    }
    
}


#more-by {

    article {
	position:relative;
	width:calc(25% - 2px)!important;
	margin:1px;
	width: 20%;
	margin: 0;
	float:left;
    }

    .dark-overlay {
	position:absolute;
	bottom:0;
	padding:10px;
	background:rgba(0,0,0,0.8);width:100%;    
    }
}



.ytp-watermark {
    display:none!important;
}