{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="forum-page">

<div class="forum-header">
  <h1>Digital Verse Blog</h1>
  <p>Computer Graphics and Animation</p>
</div>


<div class="row">
<div class="large-12 small-12 columns">

<!-- Articles -->
{% for post in posts %}
    <article>
      <a href="{{post.get_absolute_url}}">
	<h2>
	    {{post.title}}
	</h2>
      </a>
      <div class="stats">
    	<span>
	  <i class="fi-arrow-up arrow"></i>
	  12 {{post.score}}
	</span>
	<span>
	  <i class="fi-comment"></i>
	  12 {{post.comments.count}}
	</span>
	<span>
	  <i class="fi-eye"></i>
	  123 	  {{post.views}}
	</span>
	<span>
	  <i class="fi-clock"></i>
	  1h 53m ago
	</span>
	<span>
	  [Blogs]
	</span>
	<!-- &nbsp; -->
	<span>
	  by alexanderwales
	</span>
      </div>
    </article>
{% endfor %}    

<!-- Pagination -->
{# {% include "elements/pagination.html" %} #}

</div> <!-- End .columns -->
</div> <!-- End .row -->

</div> <!-- End forum-page -->


{% endblock content %}
