{% extends "base.html" %}

{% block content %}
<style>
  .store {
  font-weight:bold!important;
  color:#3d454b!important;
  }
  p, li {
  font-size:22px!important;
  margin-bottom:22px;
  }
</style>

    
<div id="page"  class="postPage profile">

  <div class="row">
    <div class="large-12 small-12 columns">
	<article>
	  <header class="post-header">
	    <h1> Orange Mind </h1>
	    <hr />
	  </header>
	  <div class="large-8 small-8 columns" style="padding:0;">

	    <p>This ebook is a collection of the best webcomics from <a href="/series/orange-mind">Orange Mind</a> series. <!-- , plus 32 extra panels. -->


	    <p>

	      Since <!-- most of the comics --> all of them are available for free, buying this book is mainly a way to for my readers to support my art(and to have a neat epub/PDF collection of the best stuff I created).</p>

      </div>

      <div class="large-4 small-4 columns">
	<img src="/media/store/orangemind-book3-small.png" width="211" height="300" style="width:100%;">	
	<br/>	<br/>


	<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
	<a class="button small" href="https://gumroad.com/l/SALR"
	   style="width:100%; border-radius:0;">Buy this book $10</a>
<br/><br/>	
	
      </div>

      <br/>
      <div>
	</article>



<!--   <div class="row"> -->
<!--     <div class="large-12 small-12 columns"> -->
<!-- 	<article> -->
<!-- 	  <header class="post-header"> -->
<!-- 	    <h1> Meta Mind </h1> -->
<!-- 	    <hr /> -->
<!-- 	  </header> -->
<!-- 	  <div class="large-8 small-8 columns" style="padding:0;"> -->

<!-- 	    <p>Want to know how I make my webcomics? This book is a collection of tutorials, behind the scenes, and articles where I explain my process from start to finish.<p> -->

<!-- 	    <p>It includes:</p> -->
<!-- 	    <ul> -->
<!-- 	      <li>My Comedy Theory and the step-by-step process I use for generating jokes.</li> -->
<!-- 	      <li>Advice for aspiring artists on how to promote their webcomics</li> -->
<!-- 	      <li>Tips and tricks</li> -->
<!-- 	      <li>Collection of the best resources for studying art.</li> -->
<!-- 	      <li> Inner-game stuff....</li>	       -->
<!-- 	    </ul> -->
<!-- <p> -->
<!-- ....</p> -->

<!--       </div> -->

<!--       <div class="large-4 small-4 columns"> -->
<!-- 	<img src="/media/store/orangemind-book3-small.png" width="211" height="300" style="width:100%;">	 -->
<!-- 	<br/>	<br/> -->


<!-- 	<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script> -->
<!-- 	<a class="button small" href="https://gumroad.com/l/SALR" -->
<!-- 	   style="width:100%; border-radius:0;">Buy this book $10</a> -->
<!-- <br/><br/>	 -->
	
<!--       </div> -->

<!--       <br/> -->
<!--       <div> -->
<!-- 	</article>	 -->
	
<!--       </div> <\!-- End 12 columns -\-> -->
<!--     </div> <\!-- End row -\-> -->
<!--   </div> -->
<!-- </div> -->



<!--   <div class="row"> -->
<!--     <div class="large-12 small-12 columns"> -->
<!-- 	<article> -->
<!-- 	  <header class="post-header"> -->
<!-- 	    <h1> MORE </h1> -->
<!-- 	    <hr /> -->
<!-- 	  </header> -->
<!-- 	  <div class="large-8 small-8 columns" style="padding:0;"> -->

<!-- 	    <p>128 unpublished panels!<p> -->

	      
<!--       </div> -->

<!--       <div class="large-4 small-4 columns"> -->
<!-- 	<img src="/media/store/orangemind-book3-small.png" width="211" height="300" style="width:100%;">	 -->
<!-- 	<br/>	<br/> -->


<!-- 	<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script> -->
<!-- 	<a class="button small" href="https://gumroad.com/l/SALR" -->
<!-- 	   style="width:100%; border-radius:0;">Buy this book $10</a> -->
<!-- <br/><br/>	 -->
	
<!--       </div> -->

<!--       <br/> -->
<!--       <div> -->
<!-- 	</article>	 -->
	
<!--       </div> <\!-- End 12 columns -\-> -->
<!--     </div> <\!-- End row -\-> -->
  </div>
</div>
	
{% endblock content %}


