

<style>
  .orbit-slide, .orbit-container {
  height:190px;
  }
  #featured {
  height:190px!important;
  overflow:hidden;
  }


</style>


<div id="featured">
<div class="orbit" role="region"data-orbit data-use-m-u-i="false">
  <ul class="orbit-container">
    <!-- 
          <button class="orbit-previous" aria-label="previous">
	    <span class="show-for-sr">Previous Slide</span><i class="fa fa-chevron-left"></i>
	  </button>
          <button class="orbit-next" aria-label="next">
	    <span class="show-for-sr">Next Slide</span><i class="fa fa-chevron-right"></i>
	  </button>
	  -->	  
          <li class="is-active orbit-slide">
            <div>
	      <a href="/about/">
	      <img src="/static/img/featured/valley_cropped.png" style="width:100%;" />
	      <figcaption class="orbit-caption">Welcome!</figcaption>
	      </a>
            </div>
          </li>


	  <!-- 
          <li class="orbit-slide">
            <div>
 	      <a href="/series/orange-mind">
 		<img src="/static/img/featured/orange-mind6.png" style="width:100%;"/>
 		<figcaption class="orbit-caption">Featured series: &nbsp; Orange Mind</figcaption>
 	      </a>
            </div>
          </li>
	  -->
	  <!-- 
          <li class="orbit-slide">
            <div>
 	      <a href="/user/rayalez">
 	  	<img src="/static/img/featured/ray-alez5.png" id="rayalez-img"/>
 	  	<figcaption class="orbit-caption">Featured artist: &nbsp; Ray Alez</figcaption>
 	      </a>
            </div>
          </li>
	  -->
</div>
</div>

<script>
  var elem = new Foundation.Orbit($(".orbit"), {timerDelay: 15000});
</script>


<style>
  .orbit-slide, .orbit-container {
  height:190px;
  }
  #featured {
  height:190px!important;
  overflow:hidden;
  }


</style>
