<!-- Subnav -->
<div class="subnav">
  <div class="row">
    <div class="large-6 small-6 columns">
      <div class="rank-types">
	<a href="{{request.path}}?sorting=hot{% if category %}&category={{category}}{% endif %}">
	  <span {% if sorting = "hot" %}class="active"{% endif %}>Hot</span>
	</a>
	<a href="{{request.path}}?sorting=new{% if category %}&category={{category}}{% endif %}">
	  <span {% if sorting = "new" %}class="active"{% endif %}>New</span>
	</a>
	<a href="{{request.path}}?sorting=top{% if category %}&category={{category}}{% endif %}">
	  <span {% if sorting = "top" %}class="active"{% endif %}>Top</span>
	</a>	
      </div>
    </div>
    <div class="large-6 small-6 columns">
      <div class="rank-types right">

	  
	  <button class="button categories-dropdown-button" type="button"
		  data-toggle="categories-dropdown">
	    {% if category %}
	    {{category.title}}
	    {% else %}
	    Category: All
	    {% endif %}
	  </button>
	  <div class="dropdown-pane bottom"
	       id="categories-dropdown"
	       data-dropdown>
	    <ul>
	      <li> <a href="{{request.path}}">All</a> </li>
	      <li> <a href="{{request.path}}">Subscribed</a> </li>
	      <hr style=""/>
	      <!-- <input type="text"/> -->
	      {% for category in categories %}
	          {# {% if category.posts.all %} #}
	      <li>
		<a class="small button"
		   style="margin-left:-40px;    margin-left: -30px;
			  background: #222525;
			  padding: 6px;
			  border-radius: 4px;">
		  <i class="fi-plus"></i></a>
		<a href="{{request.path}}?category={{category.slug}}{% if sorting %}&sorting={{sorting}}{% else %}&sorting=hot{% endif %}">
		  {{category.title}} </a>
	      </li>
		  {# {% endif %} #}
	      {% endfor %}
	    </ul>
	  </div>

	  <!-- <button class="button categories-dropdown-button" type="button" -->
	  <!-- 	  data-toggle="type-dropdown" style="margin-left:10px;"> -->
	  <!--   <\!-- <i class="fi-plus"></i> -\-> -->
	  <!--   Subscribe -->
	  <!-- </button> -->


      </div>
    </div>
  </div>
</div>
