{% load staticfiles %}

{% if not user.is_authenticated %}
<!-- Subscribe -->
<div class="callout small subscribe-popup" id="subscribe-popup" data-closable>
  <div class="subscribe-cta">
    <p>  Subscribe to the monthly digest of our best videos.</p>

    <form action="//digital-mind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=07d701d02e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value=""
	   name="EMAIL" class="required email"
	   id="mce-EMAIL" placeholder="email">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f23c7984541d915d1108a16e_07d701d02e" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>

  </div>
  
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<script src="{% static "js/js.cookie.js" %}" type="text/javascript"></script>

<script>
$(document).ready(function() {

    $(window).on(
        'closed.zf.reveal', function () {
            // alert("'closeAll.zf.Reveal' fired.");j
	    Cookies.set('subscribe_closed', 'yes', { expires: 7 });	    
        }
    );
	
    if (Cookies.get('subscribe_closed')==null) {
	// Cookies.set('name', 'value', { expires: 7 });
        $('#subscribe-popup').css("display","block");
    }
});
</script>
