{% extends "base.html" %}
n{% load thumbnail %}

{% block content %}

<div id="featured">
<div class="orbit" role="region"data-orbit data-use-m-u-i="false">
        <ul class="orbit-container">
          <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
          <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
	  
          <li class="is-active orbit-slide">
            <div>
	      <a href="/post/welcome">
	      <img src="/static/img/featured/valley_cropped.png" style="width:100%;" />
	      <figcaption class="orbit-caption">Featured post: &nbsp; Welcome!</figcaption>
	      </a>
            </div>
          </li>



          <li class="is-active orbit-slide">
            <div>
 	      <a href="/series/orange-mind">
 		<!--
 	      <div class="subheader series-subheader" deluminate_imagetype="png">
 		<style>
 		  .subheader {
 		  background:url(/media/cache/7a/e4/7ae4e6228a286e89e5456dce06c63fad.png);
 		  }
 		</style>
 		<div class="row">
 		  <div class="large-6 small-6 columns user-info">
 		      <img src="/media/cache/aa/fe/aafed867e404d07676ac3f6008f8f7dc.png" class="avatar">
 		      <div class="left">
 			<h1 class="username" style="margin-top: 16px;"> Orange Mind</h1>
 		      </div>
 		  </div>
 		</div>
 	      </div>
 -->
 	    <img src="/static/img/featured/orange-mind4.png" style="width:100; margin-top:-30px;"/>
 	    <figcaption class="orbit-caption">Featured series: &nbsp; Orange Mind</figcaption>
		
 	      </a>
            </div>
          </li>


          <li class="is-active orbit-slide">
            <div>
 	      <a href="/user/rayalez">
 		<img src="/static/img/featured/ray-alez4.png" style="margin-top:-8px;"/>
 		<figcaption class="orbit-caption">Featured artist: &nbsp; Ray Alez</figcaption>
 	      </a>
            </div>
          </li>

  
</div>
</div>

<script>
  var elem = new Foundation.Orbit($(".orbit"), {timerDelay: 15000});
</script>


<style>
  .orbit-slide {
  height:190px;
  }
  #featured {
  height:190px;  
  }

</style>

{% include "elements/subnav.html" %}


<div id="browse-template" class="page">
  
{% for post in object_list %}
{% if post.published  %}
  <a href="{{post.get_absolute_url}}">  
    <article>
      {% thumbnail post.thumbnail "320x320" crop="center" as im %}
          <img src="{{im.url}}" />
      {% endthumbnail %}	  
    <div class="dark-overlay">
      <b style="float:left;">{{post.title}} </b>
      {% if user == post.author or user.is_staff  %}
      <a class="edit-post margins-0" href="/post/{{post.slug}}/edit">
	<i class="fa fa-pencil"></i></a>
      {% endif %}
    </div>
    </article>
  </a>
{% endif %}
{% endfor %}
</div>
{% include "posts/pagination.html" %}

{% include "elements/subscribe-popup.html" %}  

<style>
  .row {
  max-width: 95%!important;
  }
</style>

{% endblock content %}
