<div class="callout small post-footer">

  <div class="stats">
    <i class="fi-arrow-up"></i>    
    <span>{{post.score}}</span>

    <i class="fi-comment"></i>
    <span> {#{{post.comments.count}}#}12</span>
    
    <i class="fi-eye"></i>
    <span>{{post.views}}</span>
  </div>

  <div class="right">
    <a class="small button" href="/user/{{post.author.username}}">
      {{post.author}}
      <img src="/media/avatars/signature.png" class="avatar"/>
    </a>

    <a class="small button upvote {% if post in user.upvoted.all %}upvoted{% endif %}"
       id="post-upvote-{{post.id}}"    
       href="/login/?next={{request.path}}">
      {% if post in user.upvoted.all %}
          Upvoted
      {% else %}      
          <i class="fi-arrow-up"></i>Upvote
      {% endif %}
    </a>


      {% if not user == post.author %}
          {% if user.is_authenticated %}
              {% if user not in post.author.subscribers.all %}	
		   <a class="small button" 
		      href="/user/{{post.author.username}}/subscribe">
		     Subscribe
		   </a>
	      {% else %}
		   <a class="small button" 
		      href="/user/{{post.author.username}}/unsubscribe">
		     Unsubscribe
		   </a>
	      {% endif %}	
	  {% else %}	   
              <a class="button"
		 href="/login/?next={{request.path}}">
		Subscribe</a>
	  {% endif %}	   
      {% endif %}
    
  </div>
  <div class="clearfix"></div>
  
</div>


<script>
$(document).ready(function(){
    // getting csrf token.
    function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
	    var cookies = document.cookie.split(';');
	    for (var i = 0; i < cookies.length; i++) {
		var cookie = jQuery.trim(cookies[i]);
		// Does this cookie string begin with the name we want?
		if (cookie.substring(0, name.length + 1) == (name + '=')) {
		    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		    break;
		}
	    }
	}
	return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    // Upvote
    function upvote(postId) {
	$.ajax({
	    type: "POST",
	    url: "/upvote/",
	    data: {"post-id": postId},
	    success: function(){
		var upvoteLink = $('#post-upvote-'+postId);
		upvoteLink.addClass('upvoted');
		upvoteLink.html("Upvoted");		
		upvoteLink.off("click");
		upvoteLink.click(function(){
		    var postId = parseInt(this.id.split("-")[2]);
		    return unupvote(postId);
		})
	    },
	    headers: {
		'X-CSRFToken': csrftoken
	    }
	});
	return false;
    }

    

    // Unupvote
    function unupvote(postId) {
	$.ajax({
	    type: "POST",
	    url: "/unupvote/",
	    data: {"post-id": postId},
	    success: function(){
		var upvoteLink = $('#post-upvote-'+postId);
		upvoteLink.removeClass('upvoted');
		upvoteLink.html("<i class='fi-arrow-up'></i>Upvote");				
		upvoteLink.off("click");
		upvoteLink.click(function(){
		    var postId = parseInt(this.id.split("-")[2]);
		    return upvote(postId);
		})
	    },
	    headers: {
		'X-CSRFToken': csrftoken
	    }
	});
	return false;
    }

    
    {% if user.is_authenticated %}
    //Connect functions
    $("a.upvote").click(function(){
	var postId = parseInt(this.id.split("-")[2]);
	return upvote(postId);
    })

    // Upvoted
    $("a.upvoted").click(function(){
	var postId = parseInt(this.id.split("-")[2]);
	return unupvote(postId);
    })
    
    {% endif %}
})
</script>
