<div class="callout small post-footer">

  <div class="stats">
    <i class="fi-arrow-up"></i>    
    <span>{{post.score}}</span>

    <i class="fi-comment"></i>
    <span> {#{{post.comments.count}}#}12</span>
    
    <i class="fi-eye"></i>
    <span>{{post.views}} 319</span>
  </div>

  <div class="right">
    <a class="small button" href="/user/{{post.author.username}}">
      {{post.author}}
      <img src="/media/avatars/signature.png" class="avatar"/>
    </a>

    <a class="small button upvote {% if post in upvoted %}upvoted{% endif %}"
       id="post-upvote-{{post.id}}"    
       href="/login/?next={{request.path}}">
       <i class="fi-arrow-up"></i>Upvote
    </a>

    <a class="small button" 
       href="/user/{{post.author.username}}/subscribe">
      Subscribe
    </a>
  </div>
  <div class="clearfix"></div>
  
</div>
