{% extends "base.html" %}
{% load markdownify %}

{% block content %}

<div class="row" id="posts">
  <div class="large-12 small-12 columns posts">
    <article class="post">
      <!-- Header -->
      <header class="post-header">
	  {% if user == post.author or user.is_staff  %}
	  <a class="edit-post" href="/post/{{post.slug}}/edit">
	    <i class="fa fa-pencil"></i></a>
	  {% endif %}
    	  <h1> {{object.title}} </h1>
    	  <!-- <hr /> -->
      </header>
      
      <!-- Post Body -->
      {% for image in post.images.all %}
      <img class="comics-image" src="/media/{{image.image}}" style="margin:auto;
					       /*max-height:450px;*/"/><br/>
      {% endfor %}

      <div class="clearfix"></div>
      {{post.description | markdownify | safe}}
      <div class="clearfix"></div>


      {% if post.series %}
      <div class="nav-buttons">
	<br/>
          {% if post.prev_by_author %}
          <a class="button" href="/post/{{first.slug}}"><< First</a>
          <a class="button" href="/post/{{prev.slug}}">< Prev</a>
          {% else %}
	  <div class="button invisible"></div>
	  <div class="button invisible"></div>
          {% endif %}      
          <a class="button series" href="/series/{{post.series.slug}}">
	    <i class="fi-thumbnails"></i>
	    {{post.series.title}}</a>
          {% if post.next_by_author %}
          <!-- <div class="right"> -->
          <a class="button" href="/post/{{next.slug}}">Next ></a>     	       
          <a class="button" href="/post/{{last.slug}}">Last >></a>
          <!-- </div> -->
          {% endif %}
      </div>
      {% endif %}      
      <!-- <a href="{{ post.get_next_by_pub_pub_date.slug}}">&larr; Previous Post</a> -->


      
      <br/>
      {% include "posts/footer.html" %}
    </article>
  </div>
</div>

<style>
  header .row {
  max-width: 95%!important;
  }
</style>


{% include "comments/comments.html" %}

{% endblock content %}
