{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

{% include "elements/subheader.html" %}
{% include "elements/subnav.html" %}


<div id="browse-template" class="page">
  
{% for post in object_list %}
  <a href="{{post.get_absolute_url}}">  
    <article>
      
    <img src="/media/{{post.thumbnail}}" />

    <div class="dark-overlay">

      <b style="float:left;">{{post.title}} </b>
      {% if user == post.author or user.is_staff  %}
      <a class="edit-post margins-0" href="/post/{{post.slug}}/edit">
	<i class="fa fa-pencil"></i></a>
      {% endif %}
    </div>
    </article>
  </a>
{% endfor %}
</div>

<style>
  .row {
  max-width: 95%!important;
  }
</style>
{% endblock content %}
