{% load thumbnail %}

<style>
  .username {
  font-family: "Titillium Web";
    font-weight: 100!important;
    font-size: 40px;
  }

    .main-header {
    display:none;
    }
    .username {
    margin-top: 18px!important;
    }
    .stats {
    display:none;
    }

  .subheader {
  padding: 40px 0;
  padding-bottom: 20px;
  }

.tagline {
    padding-left: 60px;
  }

  #browse-template {
    padding-top: 4px;  
  }

  .comment-section, .post-footer, .moreby {
    display: none;
  }

  
</style>


<div class="subheader series-subheader">
{% if series.background %}        
   {% thumbnail series.background "1581x132" crop="center" as im %}
       <style>
	 .subheader {
	    background:url({{im.url}});
	    background:url("/media/{{series.background}}");
	 }
       </style>
   {% endthumbnail %}	  
{% endif %}        

  <div class="row">
  <div class="large-6 small-6 columns user-info">
    <a href="/series/{{series.slug}}">
      {% thumbnail series.image "70x70" crop="center" as im %}
          <img src="{{im.url}}" class="avatar"/>
      {% endthumbnail %}	  


	  
      <div class="left">
	<h1 class="username"> {{series.title}}
	  {% if user == series.author or user.is_staff  %}
	  <a class="edit-post" href="/series/{{series.slug}}/edit">
	    <i class="fa fa-pencil"></i></a>
	  {% endif %}
	</h1>


	
	<div class="stats">    
	  <i class="fi-torsos-all stats-icon"></i>
	  {{series.subscribers.count}}

	  <i class="fi-arrow-up stats-icon"></i>
	  {{upvotes_count}}
	  <i class="fi-eye stats-icon"></i>
	  {{view_count}}
	</div>
      </div>
    </a>
  </div>


  <div class="large-6 small-6 columns"> 
    <div class="buttons">

      <!-- 
      <a class="button purchase"
	 href="/series/{{series.slug}}/unsubscribe">
	Purchase (<span>$</span>5)</a>
      -->


      <a class="button" data-open="login-popup">
	Subscribe</a>

      <!-- 
      {% if series.description %}      
      <a class="button"
	 href="/user/{{userprofile}}/about">
	About</a>
      {% endif %}            
      -->

    </div>
  </div>

  <div class="clearfix"></div>

  </div>
  {% if series.description %}
  <div class="tagline">
    {{series.description}}
  </div>
  {% endif %}
  
  
</div>




<div class="reveal" id="login-popup" data-reveal style="padding-bottom: 0;">
  <div class="row">
    
    <div id="mc_embed_signup" style="/* margin-left:60; float: right;*/">
      <form action="//orangemind.us7.list-manage.com/subscribe/post?u=0f23c7984541d915d1108a16e&amp;id=d7b10e6744" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="mc-field-group">

	  <!-- RSS icon -->
	  <span class="rss-icon" style="
					font-size: 32px;
					margin: 0;
					float: right;
					background: #2f3333;
					padding: 5px 10px;
					line-height: 0px;">
	    <a href="/series/digitalverse/feed/atom/">
	      <i class="fi-rss large"></i></a>
	  </span>

          <input class="required email"
                 id="mce-EMAIL"
                 name="EMAIL"
                 placeholder="Enter your email"
                 type="email"
                 value=""
		 style="/*width: 65%;*/
			width:calc(100% - 50px);
			height: 42px;
			float: left;
			margin: 0;
			width: calc(100% - 170px);"/>
          <input class="small button right"
                 id="subscribeButton"
                 name="subscribe"
                 type="submit"
                 value="Subscribe"
		 style="width:100%;
			width:calc(100% - 50px);
			float:left!important;
			margin-top:4px;
			margin-top: 0;
			height: 42px;
			width: 120px;
			padding: 0;			
			"/>
        </div>

        <div class="clear" id="mce-responses">
          <div class="response" id="mce-error-response" style="display:none">&nbsp;</div>
          <div class="response" id="mce-success-response" style="display:none">&nbsp;</div>
        </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f23c7984541d915d1108a16e_d7b10e6744" tabindex="-1" value=""></div>
    </div>
	

      </form>
    </div>
    
  </div>
</div>



