{% extends "base.html" %}
{% load thumbnail %}


{% block title %}
<title>{{series.title}} - lumiverse</title>
{% endblock %}



{% block content %}


{% if request.META.HTTP_HOST == "orangemind.lumiverse.io" or  request.META.HTTP_HOST == "localhost:8000" %}  
    {% include "elements/orangemind-header.html" %}
{% else  %}
    {% include "series/subheader.html" %}
{% endif %}

<div id="browse-template" class="page">

  {% include "videos/video-list.html" %}  

<style>
  .row {
  max-width: 95%!important;
  }
</style>
{% endblock content %}
