/* ================ Story Comments ================ */

/* Review rating */
#id_comment_type {
    width: 120px;
    margin-right: 20px;    
}    

.br-wrapper-b .br-widget {
  height: 40px;
}
.br-wrapper-b .br-widget a {
  display: block;
  width: 80px;
  height: 40px;
  float: left;
  margin: 1px;
}
/* Submit */
.comment-type {
    margin: 5px;
}
/* List */
.comments {
    margin-left: -30px;
}

.comment {
}

.comment-collapse {
    color: $black
}

.comment-box {
    /* border-left: 1px solid #DDDDDD; */
    margin-left: 32px;
    margin-top: 10px;

    box-shadow: -0px -0px 3px 0px rgb(114, 114, 114);
    padding: 10px 10px 0px 10px;
}

.comment-body {
    padding: 10px 0px;
}

.comment-reply textarea {
    margin-bottom: 4px;

    height: 150px;
}

.comment-reply .button.small {
    float: right;
    padding: 10px;
    margin: 8px;
    margin-right: 0;
}

.comment-footer a {
    color: $black    
}

/* Comments voting */
.comment-box .vote-column {
    width: 40px;
    float: left;
    margin-left: 0px;
    margin-right: 10px;
}

/* Upvote hover is orange */
.comment-upvote:hover {
    color: $orange;    
}

.comment-upvote,
.comment-downvote,
.comment-upvote:focus,
.comment-downvote:focus,
.comment-upvote:visited,
.comment-downvote:visited,
.comment-upvote:active,
.comment-downvote:active {
    color: #3d454b;		
    i, .score {
	color: #3d454b;		
    }
    
}

/* Once upvoted/downvoted state */
.comment-upvoted,
.comment-upvoted:focus,
.comment-upvoted:active,
.comment-upvoted:visited {
    color: $orange;
    i, .score {
	color: $orange;
    }
}

.comment-downvoted,
.comment-downvoted:focus,
.comment-downvoted:active,
.comment-downvoted:visited {
    color: $blue;
}


/* The opposite button is grey */
.comment-downvoted.comment-upvote,
.comment-upvoted.comment-downvote,
.comment-downvoted.comment-upvote:hover,
.comment-upvoted.comment-downvote:hover,
.comment-downvoted.comment-upvote:visited,
.comment-upvoted.comment-downvote:visited {
    color: $black;    
}




/* dark css */


.editor * {
    border: none!important;
}

.editor-toolbar {
    display: none;
}

.f-dropdown.open:before {
    /* display: none!important; */
    color: black;
}




.select2-container--open .select2-dropdown--above {
  border: none!important;
}

.select2-container--default .select2-selection--multiple {

    border:none!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {

    border: none!important;
    border-radius: 0px;
}

.side-nav li a:not(.button),
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus,
.side-nav li a:not(.button):visited{
  color: #C4C8CA;
}

.logo {
  font-weight: 300;
}

.logo span {
  font-weight: normal!important;
}

.comment-box {
  border-left: none;
}

.CodeMirror-cursor {
  border-left: 1px solid #a2a8ab!important;
}

.CodeMirror {
    background: #1a1c1c!important;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 100px!important;
}