#browse-template {

    article {
	position:relative;
	width:calc(20% - 2px);
	margin:1px;
	float:left;
    }

    .dark-overlay {
	position:absolute;
	bottom:0;
	padding:10px;
	background:rgba(0,0,0,0.8);width:100%;    
    }
}

