
* {
    color: $bright;
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
    color: $bright;

    font-family: 'Lato';
    font-weight: 200;
}

h1 {
    font-size: 36px;
    margin-bottom: 0;
    
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;    
}

h3 {
    font-size: 26px;
    margin: 10px 0 2px 0;
}

h4 {
    font-size: 21px;
    margin-top:10px;
    /* color: black; */
    font-weight: bold;
    margin-bottom: 0;
}


a {
    color: $bright;
}

.row {
    max-width: 55em;
}


input {
    background: #1a1c1c!important;
    border:none!important;
    padding:10px 20px;
    font-size: 18px!important;
    color:$bright!important;
}



input[type="button"],
input[type="submit"] {
    background: $header-bg!important;    
}


textarea,
textarea:active,
textarea:focus {
    background: #1a1c1c;
    border:none;
    height:120px;
    color:$bright;
    padding:10px;
    font-size: 18px;
}

.button {
    background: $header-bg;    
}


.button:hover, .button:focus{
		   background: $header-bg;
	       }

hr {
    border: solid #1a1c1c;
    border-width: 1px 0 0;
    margin-top:0;
    margin-bottom: 4px;
}




/* Callout */

.callout {
    background: #1d1f1f;
    border:none;
    padding:40px;
}




/* Subscibe */

.subscribe-popup {
    width:100%; height:54px;
    background: #3d454b;
    background: #171a1a;
    margin-bottom: 0;
    position:fixed;bottom:0;

    text-align: center;

    p {
	margin: 2px 20px 0 0;
	float:left;
	font-size: 18px;
    }

    input {
	margin:0px;height:32px;
	width:240px; float:left;
	border-radius:2px;
	background: rgba(0,0,0,0.2)!important;	
    }

    .button {
	margin:0px;
	margin-left:4px;
	height:32px;
	float:left;
	padding:0;
	width:120px;
	background: rgba(0,0,0,0.2);
    }
}

