/* Footer */

footer {
    height: 40px;
}

footer, footer li, footer p {
    background-color: #333a42;
    color: #babfc2;
}

footer a {
	color: #babfc2;
}

footer h4 {
	color: #babfc2;
	text-transform: uppercase;
	font-size: medium;
	font-weight: normal;
}


footer {
    background: #171a1a;
    z-index:1;
}
