.main-header {
}

/* Logo */
.logo {
    font-family: "Titillium Web";
    color: $black;
    font-size: 36px;
}

.logo img {
  width: 50px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;  
}

.logo:hover,
.logo:focus,
.logo:visited{
    color: #a2a8ab;
}

/* Main menu */
#mainMenu {
	margin-top: 16px;
	text-transform: uppercase;
	float:right;
	font-size: 18px;
}



#mainMenu ul {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
}

#mainMenu a {
    margin-right: 5px;
}


/* Subnav */
.subnav {
  padding: 10px;
  background-color: rgba(0,0,0,0.02);
}

.subnav a, .subnav span {
    color: #3d454b;
    margin-bottom: -1px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;

}

.subnav a {
    margin-right: 10px;
}

.subnav .active {
    color:#bbbbbb;
    /* font-weight: bold; */
    background: #151515;
    background: #2f3333;
    padding: 10px;
    margin: -10px;
}

.has-dropdown > a:after {
    border-top-style: none;
}

.categories-dropdown-button,
.categories-dropdown-button:hover,
.categories-dropdown-button:active,
.categories-dropdown-button:focus{
    width:200px;
    margin:-10px;
    color: #a2a8ab;

    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    padding:10px;
    margin-top: -11px;    
}

.dropdown-pane ul {
    list-style:none;
}

.dropdown-pane a {
    color: #a2a8ab;
    text-transform:none;
}