{% extends "base.html" %}
{% load markdownify %}

{% block title %}
<title>{{video.title}}</title>
{% endblock %}


{% block head_extra %}
{% endblock %}

{% block content %}

<div class="row" id="posts">
  <div class="large-12 small-12 columns posts">
    <article class="post">
      <!-- Header -->
      <header class="post-header">
	  {% if user == video.author or user.is_staff  %}
	  <a class="edit-post" href="/video/{{video.slug}}/edit">
	    <i class="fa fa-pencil"></i></a>
	  {% endif %}
    	  <h1> {{object.title}} </h1>
    	  <!-- <hr /> -->
      </header>
      
      <!-- Post Body -->
      {% if video.video_url %}
      <video
	 id="video"
	 class="video-js vjs-default-skin  vjs-big-play-centered"
	 controls
	 width="850" height="477"
	 data-setup='{ "techOrder": ["youtube"],
	 "sources": [{ "type": "video/youtube",
	 "src": "{{video.video_url}}"}] }'>
      </video>
      {% else %}
      <video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
	     controls preload="auto" width="850" height="auto"
	     poster="/media/{{video.thumbnail}}" data-setup="{}">
	<source src="/media/{{video.video}}" type='video/mp4'>
      </video>
      {% endif %}          


      <div class="clearfix"></div>
      {{video.description | markdownify | safe}}
      <div class="clearfix"></div>


      {% if video.series %}
      <div class="nav-buttons">
	<br/>
          {% if video.prev_by_author %}
          <a class="button" href="/video/{{first.slug}}"><< First</a>
          <a class="button" href="/video/{{prev.slug}}">< Prev</a>
          {% else %}
	  <div class="button invisible"></div>
	  <div class="button invisible"></div>
          {% endif %}      
          <a class="button series" href="/series/{{video.series.slug}}">
	    <i class="fi-thumbnails"></i>
	    {{video.series.title}}</a>
          {% if video.next_by_author %}
          <!-- <div class="right"> -->
          <a class="button" href="/video/{{next.slug}}">Next ></a>     	       
          <a class="button" href="/video/{{last.slug}}">Last >></a>
          <!-- </div> -->
          {% endif %}
      </div>
      {% endif %}      
      <!-- <a href="{{ video.get_next_by_pub_pub_date.slug}}">&larr; Previous Post</a> -->


      
      <br/>
      {% include "videos/footer.html" %}
    </article>
  </div>
</div>

<style>
  header .row {
  max-width: 95%!important;
  }
</style>


{% include "comments/comments.html" %}

{% endblock content %}
