{% load thumbnail %}

<div class="subheader">
{% if userprofile.background %}        
   {% thumbnail userprofile.background "1581x132" crop="center" as im %}
       <style>
	 .subheader {
	    background:url({{im.url}});
	 }
       </style>
   {% endthumbnail %}	  
{% endif %}        

  <div class="row">
  <div class="large-6 small-6 columns user-info">
    <a href="/user/{{user.username}}">
      {% thumbnail userprofile.avatar "70x70" crop="center" as im %}
          <img src="{{im.url}}" class="avatar"/>
      {% endthumbnail %}	  


	  
      <div class="left">
	<h1 class="username"> {{userprofile.username}} </h1>
	<div class="stats">    
	  <i class="fi-torsos-all stats-icon"></i>
	  {{userprofile.subscribers.count}}

	  <i class="fi-arrow-up stats-icon"></i>
	  {{userprofile.karma}}
	  <i class="fi-eye stats-icon"></i>
	  {{view_count}}
	</div>
      </div>
    </a>
  </div>


  <div class="large-6 small-6 columns">
    <div class="buttons">



      {% if userprofile.series.all %}

          {% for series in userprofile.series.all %}      
              <a class="button"
              	 href="/series/{{series.slug}}">
              	{{series.title}}
              
              {% if series.image %}      
              	{% thumbnail series.image "40x40" crop="center" as im %}
              	    <img src="{{im.url}}" class="avatar author-avatar"/><br/>
              	{% endthumbnail %}	  
              {% endif %}      	    
              </a>
          {% endfor %}      	    
      {% endif %}            
      
      {% if userprofile.website %}      
      <a class="button"
	 href="{{userprofile.website}}">
	Website</a>
      {% endif %}            


      {% if userprofile.about %}      
      <a class="button"
	 href="/user/{{userprofile}}/about">
	About</a>
      {% endif %}            


      {% if not user == userprofile %}
          {% if user.is_authenticated %}
              {% if user not in userprofile.subscribers.all %}	
                   <a class="button"
		      href="/user/{{userprofile.username}}/subscribe">
		     Subscribe</a>
	      {% else %}
                   <a class="button"
		      href="/user/{{userprofile.username}}/unsubscribe">
		     Unsubscribe</a>
	      {% endif %}	
	  {% else %}	   
              <a class="button" data-open="login-popup">
		Subscribe</a>
              <!-- <a class="button" -->
	      <!-- 	 href="/login/?next={{request.path}}"> -->
	      <!-- 	Subscribe</a> -->	      
	  {% endif %}	   
      {% endif %}
    </div>
  </div>

  <div class="clearfix"></div>
</div>
</div>
