<!-- Subnav -->
<div class="subnav">
  <div class="row">
    <div class="large-6 small-6 columns">
      <div class="rank-types">
	<a href="">
	  <span class="bold"style="color:#bbbbbb;">Hot</span>
	</a>
	<a href="">
	  <span style="color: #3d454b;">New</span>
	</a>
	<a href="">
	  <span style="color: #3d454b;">Top<!-- : --></span>
	  <!-- <span style="color: #3d454b;">All Time</span> -->
	  <!-- <span style="color: #3d454b;">Year</span> -->
	  <!-- <span style="color: #3d454b;">Month</span> -->
	</a>
	<a href="">
	  <span style="color: #3d454b;">&nbsp;Subscriptions</span>
	</a>
	
      </div>
    </div>
    <div class="large-6 small-6 columns">
      <div class="rank-types">
      	<a href="" style="float:right;">
	  <span> Category: All</span>
	</a>
      </div>
    </div>
  </div>
</div>
