<!-- Subnav -->
<div class="subnav">
  <div class="row">
    <div class="large-6 small-6 columns">
      <div class="rank-types">
	<a href="/browse/?sorting=hot">
	  <span {% if sorting = "hot" %}class="active"{% endif %}>Hot</span>
	</a>
	<a href="/browse/?sorting=new">
	  <span {% if sorting = "new" %}class="active"{% endif %}>New</span>
	</a>
	<a href="/browse/?sorting=top">
	  <span {% if sorting = "top" %}class="active"{% endif %}>Top</span>
	</a>
	<a href="">
	  <span style="color: #3d454b;">&nbsp;Subscriptions</span>
	</a>
	
      </div>
    </div>
    <div class="large-6 small-6 columns">
      <div class="rank-types right">
	  <button class="button categories-dropdown-button" type="button"
		  data-toggle="categories-dropdown">
	    Category
	  </button>
	  <div class="dropdown-pane bottom"
	       id="categories-dropdown"
	       data-dropdown>
	    <ul>
	      <li> <a href="/">Category: All</a> </li>
	      {% for category in categories %}
	      <li> <a href="/browse/?category={{category.slug}}">{{category.title}} </a></li>
	      {% endfor %}
	    </ul>
	  </div>
      </div>
    </div>
  </div>
</div>
