{% extends "base.html" %}


{% block content %}
{% include "series/dv-subheader.html" %}
<style>
h1 {
    color: #f6653c;
    font-size: 40px;
    font-family: "Lato";
}

.main-header {
background: #141414;
}
.basePage {
background:#111111;
}

p {
    color: #909090;
}

.video-js {
    position: relative !important;
    width: 100% !important;
height: 250px !important;
}

</style>

<div class="basePage">
<div class="row page" id="edit-template">
  <div class="large-12 small-12 columns">
    <br/>
    <!-- Tabs -->
    <!-- 
      <ul class="tabs" data-tabs id="upload-tabs">
	<li class="tabs-title is-active"><a href="#welcome" aria-selected="true">Welcome</a></li>
	<li class="tabs-title "><a href="#features" >Features</a></li>
	<li class="tabs-title "><a href="#contact" >Contact</a></li>
      </ul>
 -->

      <div class="tabs-content" data-tabs-content="upload-tabs">
	<!-- Welcome -->
	<div class="tabs-panel is-active" id="welcome">
	  <article>
	    <img src="/static/img/wave.png" style="float:left;
						   width: 45%;
						   margin-top: -50px;"/>
	    <div style="float:right;    width: 55%;"> 
	      <h1 style="margin-top: 110px;">
		Lumen Rig v0.5</h1>
	      <!-- 
	      <video
          	 id="video"
          	 class="video-js vjs-default-skin  vjs-big-play-centered"
          	 controls
          	 data-setup='{ "techOrder": ["youtube"],
          	 "sources": [{ "type": "video/youtube",
          	 "src": "https://www.youtube.com/watch?v=-JrTofwK930"}] }'>
              </video>
	      -->
	      <p>This is a simple universal rig created for learning the foundations of 3D< animation in SideFX Houdini.</p>

	      <!-- 
	      <input placeholder="Enter email" style="width:100%;
						      text-align:center;"></input>
	      -->
	      <a href="/static/files/lumen_rig.otl"class="button" style="width:100%;
				       background: #f6653c;">Download</a>
	    </div>
	  </article>
	  
	</div>

	<div class="tabs-panel" id="features">	  
	  <article>
	    <p>So what makes lumiverse awesome?</p>

	    <ul>
	      <li>Discovery system is similar to reddit, which makes it easy for people to find great videos, and allows even brand new video creators to make it to the front page and be discovered by a lot of people.</li>
	      <li>Invite system. Videos can be posted only by users who were invited by members of the community. That means that as the site grows and becomes more popular, the videos and discussion will stay intelligent and high quality, and won’t turn into a bunch of cat gifs.</li>
	      <li>[upcoming feature] Hubs, just like subreddits, are small niche communities where people know each other. That means you can actually know all the people in your community, and it is much easier to be discovered as well.</li>
	      <li>[upcoming feature] You can subscribe to and unsubscribe from hubs, so that you control which content you see on your front page, and you view only videos you are interested in.</li>
	      <li>Monetization. There will be no ads, because I think they compromise the quality of the platform, also adblockers will make them pointless. The first monetization method I will implement is allowing people to sell video series. Also I will experiment with patreon-like donations, regular series subscriptions, youtube-red-style subscriptions, and other ideas, and keep what works best. </li>
	    </ul>
	  </article>
	</div>
	
	<!-- FAQ -->
	<div class="tabs-panel " id="faq">
	  <article>
	    <h4>How can I post a video?</h4>
	    <p>To maintain the high quality of our content, videos can be posted only by users who were invited members of the community. I'm still working on implementing a simple and elegant invite system, for now to receive an invite just send me a message to raymestalez@gmail.com with a few examples of videos you are planning to post, or a link to your youtube channel.</p>	  
	  </article>
	</div>

	<!-- Contact -->
	<div class="tabs-panel" id="contact">
	  <p>
	    Send me a message to raymestalez@gmail.com
	    to discuss anything related to lumiverse.</p>

	  <p>The website is in active development, and I really appreciate any questions, suggestions, feedback and bug reports.</p>
	</div>
	
	
      </div>

  </div>
</div>
</div>
 <script>
    function goToURL() {
    $('[data-tabs]').eq(0).foundation('selectTab', $('#features'));    
    }
 </script>
 
<style>

  article a {
  color: #13aff0;
  }  
.tabs-title {
width: 33.3333%;
text-align:center;
}  

p,article a, article ul li {
font-size: 22px;
margin-bottom: 20px;
font-family: 'Open Sans';
font-size: 20px;
}
</style>

<script>
$(document).ready(function(){
var link_tab = window.location.hash.substr(1);
if(link_tab){
    $('[data-tabs]').eq(0).foundation('selectTab', $('#'+link_tab));
}
})
</script>
{% endblock content %}
